{%- if site.projects -%}
<div class="entries-grid project-grid">
{% for project in site.projects %}
  {%- if project.proj_featured -%}
  {%- unless project.hidden == true or project.categories contains 'Mini Projects' -%}
  <div class="entry" style="width: 300px;">
  <h4 style="clear: both; order: 2;" class="entry-title"><a href="{{ project.url }}">{{ project.title }}</a></h4>
<!--   <h3 style="clear: both" class="entry-title"><a href="{{ project.url }}">{{ project.title }}</a></h3> -->
  {%- if project.thumb-300 -%}
<!--   <figure style="width: 150px" class="align-right"> -->
  <figure style="margin-top: 0; order: 1">
    <div class="ribbon-wrapper-green" style="
        width: 85px;
        height: 85px;
        overflow: hidden;
        position: absolute;
        top: -3px;
        right: -3px;
    ">
      <div class="ribbon-green" style="
        font-size: smaller;
        /* font: bold 15px sans-serif; */
        color: #333;
        text-align: center;
        text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
        -webkit-transform: rotate(45deg);
        -moz-transform:    rotate(45deg);
        -ms-transform:     rotate(45deg);
        -o-transform:      rotate(45deg);
        position: relative;
        /* padding: 7px 0; */
        left: -5px;
        top: 15px;
        width: 120px;
        background-color: #D97575;
        /*background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45));
        background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45);
        background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45);
        background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45);
        background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45);*/

        color: white;
        /* -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3); */
        -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
        /* box-shadow:         0px 0px 3px rgba(0,0,0,0.3); */
      ">Featured</div>
    </div>
    <a href="{{ project.url }}"><img src="{{ project.thumb-300 | absolute_url }}" alt=""></a>
<!--     <figcaption>{{ project.title }}</figcaption> -->
  </figure>
  {%- endif -%}
  <!-- project.content -->
  <p style="order: 3">{%- if project.seasonal -%}
  <mark>Seasonal</mark>
  {%- else -%}<mark>{{ project.proj_years }} / {{ project.proj_status }}</mark>
  {%- endif -%}</p>
<!--   Omg it creates paragraphs out of the auto excerpt which messes up the flexbox order and I just.. can't -->
<!--   <p class="fucking-excerpt">{{ project.excerpt | markdownify }}</p> -->
  {%- if project.text_excerpt -%}<p style="order: 4">
  {{ project.text_excerpt }}</p>{%- endif -%}
  </div>{%- endunless -%}{%- endif -%}<!-- end entry -->
{% endfor %}
</div>
{%- endif -%}
